<p id="notice"><%= notice %></p>

<p>
  <strong>From acc:</strong>
  <%= @transaction.from_acc %>
</p>

<p>
  <strong>To acc:</strong>
  <%= @transaction.to_acc %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @transaction.amount %>
</p>

<p>
  <strong>Date:</strong>
  <%= @transaction.date %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @transaction.desc %>
</p>

<p>
  <strong>Is to to:</strong>
  <%= @transaction.is_to_to %>
</p>

<%= link_to 'Edit', edit_transaction_path(@transaction) %> |
<%= link_to 'Back', transactions_path %>
