
<%= form_for(@account) do |f| %>
  <% if @account.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@account.errors.count, "error") %> prohibited this account from being saved:</h2>

      <ul>
      <% @account.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <strong><%= f.label :name %></strong><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <!-- <%= f.label :account_type_id %><br>
    <%= f.number_field :account_type_id %>
    <br>
    <br>
    -->
    <% if @account.account_type.nil? %>
        <strong><%= f.label :account_type %></strong><br>
    <% else %>
        <p>
          <strong>Current account type:</strong>
          <%= @account.account_type.name %>
        </p>
        <strong>Change to <%= f.label :account_type %></strong><br>
    <% end %>

    <%= f.collection_select :account_type_id, AccountType.all, :id, :name %>
    <br>
    <br>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
